*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.speakers-caption{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: black;
	color: #ffffff;
  text-align: center;
  font-size: 26px;
  margin-left: 20px;
}


.grid{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin-top: 10px;
}

.grid div{
  min-height: 200px;
  min-width: 90%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*
.content p{

  margin-bottom: 10px;
}

.content{

}*/

.content{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 100%;
}

.content p{
  text-align: center;
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1%;
  margin-bottom: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: semi-bold;
	color: #ffffff;
  font-size: 16px;
}

/*background img*/
.speaker-1{
  background-image: url(images/speaker1.jpg);
  overflow: hidden;
}
.speaker-2{
  background-image: url(images/speaker2.jpg);
}

.speaker-3{
  background-image: url(images/speaker3.jpg);
}
.speaker-4{
  background-image: url(images/speaker4.jpeg);
}
.speaker-5{
  background-image: url(images/speaker5.jpg);
}
.speaker-6{
  background-image: url(images/speaker6.jpg);
}
.speaker-7{
  background-image: url(images/speaker7.jpg);
}
.speaker-8{
  background-image: url(images/speaker8.jpg);
}
.speaker-9{
  background-image: url(images/speaker9.jpeg);
}
.speaker-10{
  background-image: url(images/speaker10.jpeg);
}
.speaker-11{
  background-image: url(images/speaker11.jpeg);
}
.speaker-12{
  background-image: url(images/speaker12.jpeg);
}

@media only screen and (min-width: 768px){

  .wrapper{
    width: 70%;
    margin: 0 auto;
  }

  .speakers-caption{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: black;
  	color: #ffffff;
    text-align: left;
    font-size: 40px;
    margin-left: 0;
    margin-top: 40px;
  }

  .aboutspeakers p{
    font-family: 'Source Sans Pro', sans-serif;
  	color: #ffffff;
    text-align: left;
    font-size: 16px;
    margin: 20px auto 20px 0;
    line-height: 1.2;
  }

  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 17px;
  }

  .grid div{
    min-height: 300px;
    min-width: 25%;
    max-height: 400px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
     -moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
  }

  .content{
    background-color: rgba(0, 0, 0, 0);
  }

  .content p{
    padding: 3%;
  }

  .speakerhover:hover{
    transform: scale(1.05);
    }

    .speakerhover:after{
      position: absolute;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      word-wrap: break-word;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      opacity: 0;
      content: attr(data-text);
      transition:0,5s;
    }

    .speakerhover:hover:after{
      opacity:1;
      top:0;
      padding:18px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: semi-bold;
    }

  .speaker-2:hover{
    transform: scale(1.05);
  }


  .speaker-3:hover{
    transform: scale(1.05);
  }
  .speaker-4:hover{
    transform: scale(1.05);
  }
  .speaker-5:hover{
    transform: scale(1.05);
  }
  .speaker-6:hover{
    transform: scale(1.05);
  }
  .speaker-7:hover{
    transform: scale(1.05);
  }
  .speaker-8:hover{
    transform: scale(1.05);
  }
  .speaker-9:hover{
    transform: scale(1.05);
  }
  .speaker-10:hover{
    transform: scale(1.05);
  }
  .speaker-11:hover{
    transform: scale(1.05);
  }
  .speaker-12:hover{
    transform: scale(1.05);
  }

}/*end of @media*/


/*FOOTER*/
