.background{
    background-color:black;
}

/*contacts*/
section.contacts{
    color: white;
}

h1{
    font-size: 40px;
    padding-top: 50px;
    padding-left: 15%;
}
section.contacts>p{
    font-size: 20px;
    padding-left: 15%;
}

@media screen and (max-width: 600px) {
    h1{
        padding-left: 5%;
    }
    section.contacts>p{
        padding-left: 5%;
    }
}

section.contacts {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .row, .column {
      padding-right: 15%;
padding-left: 15%;
}
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
    .row, .column {
        padding-right: 3%;
        padding-left: 3%;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

/*partneriai*/
section.partners>h3{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}

section.partners{   
    background-color: black;
    min-height: 250px;
    margin: 0 auto 70px auto;
    width: 95%;
}
div.flex-container img{
    padding: 10px;
}

.apple{
    height: 50px;
}

.beats{
    height: 50px;
}

.nike{
    height: 40px;
}

.cognizant{
    height: 50px;
}

.microsoft{
    height: 50px;
}

.cola{
    height: 35px;
}

.vu{
    height: 50px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

/*footer*/
footer{
    background-color: rgb(12, 18, 73);
    height: 350px;
    margin: 0 auto;
}

.flex-container2 {
    background-color: rgb(12, 18, 73);
    padding: 20px 0 0 0;
    margin: 0 auto 50px auto;
    width: 95%;
}

.flex-container2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
}

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

h4{
    color: white;
    font-size: 18px;
    margin-left: 5%;
}

/*subscribe*/
section.patners>h3 {
    color: white;
    font-size: 18px;
    margin-left: 5%;
}
 
input.button{
    background-color: rgb(34, 34, 206);
    border: 1px solid rgb(172, 148, 45);
    padding: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgb(139, 139, 219);
    margin-bottom: 50px;
}

input.emailhere{
    background-color: rgb(25, 46, 138);
    border: 1px solid rgb(87, 83, 145);
    padding: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgb(36, 36, 124);
    margin-left: 5%;
}

/*copyright*/
span{
    color: white;
    font-size: 10px;
    margin-left: 5%;
}

img.fb {
    height: 15px;
    float: right;
    margin-right: 5%;
    padding: 5px;
}
    
img.insta {
    height: 15px;
    float: right;
    padding: 5px;
}

img.linkedin {
    height: 15px;
    float: right;
    padding: 5px;
}

/*desktop version*/
@media only screen and (min-width: 601px) {
    
    h4 {
        margin: 20px 0 0 0;
        text-align: left; 
        display: inline;       
    }

    section.partners>h3{
        text-align: left;
        padding: 10px 0;
    }

    section.partners{   
        width: 70%;
        padding: 0;
        min-height: 250px;
    }

    div.flex-container img {
        padding: 0;
    }

    .flex-container3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
    }

    .flex-container2 {
        
        display: flex;
        justify-content: left;
        margin: 0 auto 0 0;
        width: 0%;
    }

    input.emailhere{
        height: 25px;
        margin-top: 15px;
        margin-left: 15px;
    }

    input.button {
        height: 25px;
        margin-top: 15px;
    }

    span {margin: 0;}
    p {margin: 0;}

    .copyright {
        width: 70%;
        margin: 0 auto;
    }

    img.fb{
        margin-right: 0px;
    }

    footer {
        height: 200px;
    }

    a.about {
        padding-left: 0px;
    }

    li a{
        padding-top: 15px;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
}